.person-icon {
  border-radius: 24px;
}

.person-icon-no-img {
  border-radius: 24px;
  background: alpha(@view_fg_color, 0.1);
  color: @view_fg_color;
}

.content-list row:selected,
.content-list row:hover {
  background: none;
}